body {
  background: white;
  -webkit-app-region: drag;
  min-height: 300px;
}

.App {
  padding: 2em;
}

.input-container {
  display: flex;
}

.list-container {
  background: white;
}

input {
  -webkit-app-region: no-drag;
  flex: 1;
  font-size: 1.5em;
  padding: 0.5em;
}

li.suggestion-item {
  display: block;
  padding: 5px;
}

ul.suggestion-container {
  padding: initial;
  border: 1px solid black;
  margin: 0px;
}

.autocomplete-container {
  display: flex;
  flex-direction: column;
}
